@model ArtProject.Models.Art

@{
    ViewData["Title"] = "Create";
}
<h1 class="text-center text-uppercase" style="margin-top: 40px !important;">Create New Painting</h1>
<div class="row justify-content-center" style="margin: 30px !important">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-bottom: 15px !important">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" placeholder="Starry Night"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 15px !important">
                <label asp-for="Artist" class="control-label"></label>
                <input asp-for="Artist" class="form-control" placeholder="Vincent Van Gogh"/>
                <span asp-validation-for="Artist" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 15px !important">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control"/>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 15px !important">
                <label asp-for="Technique" class="control-label"></label>
                <input asp-for="Technique" class="form-control" placeholder="Oil Painting"/>
                <span asp-validation-for="Technique" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 15px !important">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" placeholder="$200000000"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 15px !important">
                <label asp-for="Movement" class="control-label"></label>
                <input asp-for="Movement" class="form-control" placeholder="Impressionism"/>
                <span asp-validation-for="Movement" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 15px !important">
                <label asp-for="History" class="control-label"></label>
                <textarea asp-for="History" class="form-control" placeholder="This painting was made when Vincent used to live in the beautiful fields" rows="3"></textarea>
                <span asp-validation-for="History" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 15px !important">
                <label asp-for="ImageFile" class="form-label mt-4"></label>
                <input asp-for="ImageFile" class="form-control" accept="image/*"/>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group text-center" style="margin: 20px !important;">
                <input type="submit" value="Create" class="btn btn-primary" id="sub"/>
            </div>
        </form>
    </div>
</div>

<div class="text-center" style="margin: 25px !important;">
    <a class="text-decoration-none underline" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
