@{
    ViewData["Title"] = "About";
}
<h1>About this Website</h1>
<div class="text-center">
    <img src="./images/holder.jpg" class="rounded-circle float-left" alt="...">
    <h2 class="font-weight-light text-uppercase">About the developer</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <h6>Learn more about me<a class="text-decoration-none underline" href="#">Link</a></h6>
</div>
<hr />
<div class="text-center">
    <h2 class="font-weight-light text-uppercase">What is Art Project?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
</div>

